.Contact_container{
    display:flex;
}

.TitleContact{

}


.flex-container1 {
    display: flex;
    flex-direction: row;
    padding: 10%;
    padding-right: 15%;
    height:auto;
    width: auto;
    position: relative;
}
.flex-container2 {
    display: flex;
    padding-top:0.7em;
    flex-direction: column;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 200%;
}
.flex-container3 {
    display: flex;
    flex-direction: column;
    padding:10px;
    padding-top:0.7em;
    margin:20px;
}
  
.flex-container2 > label {
    width: 100px;
    margin: 10px;
    padding:10px;
    margin:20px;
    
}


.form_container{
    flex: 1;
    width:30%;
    position:relative;
    margin-left:10em;
    border: solid 7px #a75b0e;
    border-top-right-radius: 32%; ;
    border-bottom-left-radius: 35%; 
    
}
.SendBtn{
    padding:20px;
    padding-bottom: 0;
    color: #086f8b;
    font-size: 230%;
    font-style: italic;
    font-weight:600;
    background: none;
    border:none;
    font-family: 'Chilanka';
}

.SendBtn:hover{
    color: #04b21c;
    font-size: 250%;
    font-weight: 700;
}
.SendBtn:active{
    top:1em;
    transform: translateY(7px);    
    transition: all 0.5s;
    color:#df5404
}

.picture_frame{
    position:relative;
    left:250px;
    top:-400px;
    height:20em;
    width: 22em;
    border-radius: 25%;
        
    
}

.input{
    padding:10px;
    margin:20px;

}