.header {
    height: 170px;
    
    background:linear-gradient(to bottom right, rgb(21, 37, 181), rgb(1, 255, 234));
    /*
    background:linear-gradient(to bottom right, rgb(116, 151, 157), rgb(1, 255, 234));
    */
    position:relative;
    width:auto  ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 999;
    top:0;
    user-select: none;
}

.backImg{
    position:absolute;
    background-repeat: no-repeat;
    object-fit: none;  
    object-position: 50% 50%;
    width: 1500px ;
}

.Logo_cont:active{
    transform: translateY(1px);
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    max-width: 1500px;
    border: 1px solid rgb(70, 70, 70);
  }
  
.btns_cont{
    position:absolute;
    width:30em;
    top:1em;
    right:1em;
    user-select: none;
}

.head_btnb{
    border:none;
    font-weight: bold;
    position: sticky;
    background:none;
    color:rgb(255, 255, 255);
    font-size: 1.25em;
    font-weight: 550;
    margin:7px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(225, 225, 225);
    transition: all 0.2s;
}

.head_btnb:hover{
    color:rgb(43, 43, 43);
    transform: translateY(-8px);
    transition: all 0.3s;
    border-bottom: 1px solid rgb(43,43,43);
    
}
.head_btnb:active{
    color:rgb(0, 0, 0);
    transform: translateY(-3px);
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: all 0.015s;
}
.Logo_cont{
    position: absolute;
    top:0em;
    left:2em;
    
}
.Logo_cont:hover{
    cursor: pointer;
}